{% extends 'store/base.html' %}
{% load static %}

{% block content %}

    <!-----------------------------------------------------<Row-1>----------------------------------------------------->
    <div class="row card-row">

        <div class="col-lg-3">
            <div class="card product-card" style="width: 18rem;">
              <img class="card-img-top card-image" src="{% static 'store/images/books/dale_carnegie_book.jpg' %}" alt="product-box-img">
              <div class="card-body">
                <a class="card-text" >Product 2</a>
                <hr>
                <div class="card-body card-bottom">
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <h4 class="price-h4">200rs</h4>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card product-card" style="width: 18rem;">
              <img class="card-img-top card-image" src="{% static 'store/images/books/dale_carnegie_book.jpg' %}" alt="product-box-img">
              <div class="card-body">
                <a class="card-text">Product 2</a>
                <hr>
                <div class="card-body card-bottom">
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <h4 class="price-h4">200rs</h4>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card product-card" style="width: 18rem;">
              <img class="card-img-top card-image" src="{% static 'store/images/books/dale_carnegie_book.jpg' %}" alt="product-box-img">
              <div class="card-body">
                <a class="card-text">Product 2</a>
                <hr>
                <div class="card-body card-bottom">
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <h4 class="price-h4">200rs</h4>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card product-card" style="width: 18rem;">
              <img class="card-img-top card-image" src="{% static 'store/images/books/dale_carnegie_book.jpg' %}" alt="product-box-img">
              <div class="card-body">
                <a class="card-text">Product 2</a>
                <hr>
                <div class="card-body card-bottom">
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <h4 class="price-h4">200rs</h4>
                </div>
              </div>
            </div>
        </div>

    </div>

    <!-----------------------------------------------------<Row-2>----------------------------------------------------->
    <div class="row card-row">

        <div class="col-lg-3">
            <div class="card product-card" style="width: 18rem;">
              <img class="card-img-top card-image" src="{% static 'store/images/books/atomic_habbits.jpg' %}" alt="product-box-img">
              <div class="card-body">
                <a class="card-text">Product 2</a>
                <hr>
                <div class="card-body card-bottom">
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <h4 class="price-h4">300rs</h4>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card product-card" style="width: 18rem;">
              <img class="card-img-top card-image" src="{% static 'store/images/books/atomic_habbits.jpg' %}" alt="product-box-img">
              <div class="card-body">
                <a class="card-text">Product 2</a>
                <hr>
                <div class="card-body card-bottom">
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <h4 class="price-h4">300rs</h4>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card product-card" style="width: 18rem;">
              <img class="card-img-top card-image" src="{% static 'store/images/books/atomic_habbits.jpg' %}" alt="product-box-img">
              <div class="card-body">
                <a class="card-text">Product 2</a>
                <hr>
                <div class="card-body card-bottom">
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <h4 class="price-h4">300rs</h4>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card product-card" style="width: 18rem;">
              <img class="card-img-top card-image" src="{% static 'store/images/books/atomic_habbits.jpg' %}" alt="product-box-img">
              <div class="card-body">
                <a class="card-text">Product 2</a>
                <hr>
                <div class="card-body card-bottom">
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <h4 class="price-h4">300rs</h4>
                </div>
              </div>
            </div>
        </div>

    </div>

{% endblock content %}

