a {
    text-decoration: none;
}



/*---------------------------------------------{{ CSS --> 'base.html' }}---------------------------------------------*/
my_nav {
    padding: 6px 0;
}


.navbar-brand {
    margin-left: 20px;
    padding: 0;
}


.cart-img {
    padding-right: 25px;
    padding-left: 10px;
}



/*---------------------------------------------{{ CSS --> 'store.html' }}---------------------------------------------*/
.card-text{
    text-decoration: none;
    color: black;
}


.card-row {
    margin: 40px 15px 100px 15px;
}


.product-card {
    margin: auto;
}



.card-image {
    height: 20rem;
}


.card-bottom {
    padding: 0 2px;
}


.price-h4{
    display: inline;
    float: right;
    margin: auto;
}



/*---------------------------------------------{{ CSS --> 'cart.html' }}---------------------------------------------*/
.my-row {
    padding: 0 94px;
}


.first-card{
    margin: 52px 0 20px 0;
}


.second-card {

}


.customized-card-body {
    height: 140px;
}


/*-------------------------------------------{{ CSS --> 'checkout.html' }}-------------------------------------------*/
.checkout-row {
    padding: 40px 58px 0 58px;
}


.modified-card {
    padding-right: 20px;
    padding-left: 20px;
}

/* Left Card */
.left-card-top-row {
    padding: 16px 4px;
}


.left-card-second-row {
    padding-top: 16px;
    padding-bottom: 16px;
}


.left-card-third-row-1 {
    padding-top: 14px;
    padding-bottom: 5px;
}


.left-card-third-row-2 {
    padding-top: 5px;
    padding-bottom: 14px;
}


.left-card-bottom-row {
    padding-top: 18px;
}


.checkout-input {
    width: 100%;
    height: 2.8rem;
}



/* Right Card */
.right-card-top-row {
    padding: 12px 10px;
}


.right-card-second-row {
    padding-top: 14px;
    padding-bottom: 14px;
}


.right-card-third-row {
    padding-top: 12px;
    padding-bottom: 12px;

}


.right-card-bottom-row {
    padding-top: 14px;
    padding-bottom: 14px;
}












